html
  head
    link(href='/css/style.css', rel='stylesheet')
    title= title
  body
    div(class='wrapper')
      h1(class='m-0 color-betelnut text-xl sm:text-3xl md:text-6xl text-stroke-red text-center')= message
      p(class='text-xs sm:text-base')= description
      h2(class='text-center text-sm sm:text-lg')= '輸入...完整...文字...'
      form(action='/' method="post")
        div
          textarea(name='textInput' class="center w-full md:w-5/6 sm:w-4/6 h-60")= originText
          button(type='submit' class="center text-xs sm:text-base")= '轉換...文字...'
      if generatedText
        p(class='bg-betelnut')= generatedText

script.